body {
   font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
   font-weight: 400;
   // line-height: 2;
   // background-color: var(--color-grey-light-2);
   // color: var(--color-grey-dark-1);
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.paragraph,
.paragraph-title {
   text-align: center;
   justify-self: center;
   margin-bottom: 2rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
   font-family: "Oregano", cursive;
   color: var(--color-grey-dark-1);
   font-weight: 400;
}

.heading-secondary {
   font-size: 6rem;
}

.heading-tertiary {
   font-size: 3.6rem;
}

.paragraph {
   font-size: 1.4rem;
   color: var(--color-grey-light-2);
}

.paragraph-title {
   font-size: 1.8rem;
   font-weight: 700;
   &--primary-color {
      color: var(--primary-color);
   }
}
