body {
   font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
   font-weight: 400;
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.paragraph,
.heading6 {
   text-align: center;
   justify-self: center;
   margin-bottom: 2.5rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.quote::before,
.cursive {
   font-family: "Oregano", cursive;
   color: var(--color-grey-dark-1);
   font-weight: 400;
}

.heading-secondary {
   font-size: 6rem;
}

.heading-tertiary {
   font-size: 3.6rem;
}

.paragraph {
   font-size: 1.4rem;
   color: var(--color-grey-light-2);
   &--left {
      text-align: left;
      margin-bottom: 1rem;
   }
}

.heading6 {
   font-size: 1.8rem;
   &--contact {
      text-align: left;
      font-weight: 700;
      // margin-bottom: 1rem;
   }
}

.quote {
   padding-left: 3rem;
   position: relative;
   padding-bottom: 0;
}
.quote::before {
   font-family: "Oregano", cursive;
   // content: "\201F";
   content: '"';
   // content: open-quote;
   position: absolute;
   font-size: 10rem;
   top: 0;
   left: -1rem;
}

.link {
   &,
   &:link,
   &:visited {
      text-decoration: none;
      // color: var(--color-primary);
      // font-size: var(--default-font-size);
   }

   // &:hover {
   //    color: darken(#0487cc, 20%);
   // }
}
