body {
   @import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400,700|Oregano");
   font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
   font-weight: 400;
   color: var(--color-grey-dark-1);
}

.h1 {
   font-size: var(--font-size-h1);
}
.h2 {
   font-size: var(--font-size-h2);
}
.h3 {
   font-size: var(--font-size-h3);
}
.h4 {
   font-size: var(--font-size-h4);
}
.h5 {
   font-size: var(--font-size-h5);
}
.h6 {
   font-size: var(--font-size-h6);
}

.h1,
.h2,
.h3 {
   font-family: "Oregano", cursive;
   font-weight: 400;
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.paragraph,
// .heading6 
 {
   // text-align: center;
   // justify-self: center;
   margin-bottom: 2.5rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.quote::before,
.cursive {
   color: var(--color-grey-dark-1);
   font-family: "Oregano", cursive;
   font-weight: 400;
}

.heading-secondary {
   font-size: var(--font-heding-secondary-size);
}

.heading-tertiary {
   font-size: var(--font-heding-tertiary-size);
}

.paragraph {
   font-size: var(--font-size-p);
   color: var(--color-grey-light-2);
}

.heading6 {
   font-size: var(--font-heading6-size);
   &--contact {
      text-align: left;
      font-weight: 700;
      // margin-bottom: 1rem;
   }
}

.quote {
   padding-left: 3rem;
   position: relative;
   padding-bottom: 0;
}
.quote::before {
   font-family: "Oregano", cursive;
   // content: "\201F";
   content: '"';
   // content: open-quote;
   position: absolute;
   font-size: 10rem;
   top: 0;
   left: -1rem;
}

.link {
   &,
   &:link,
   &:visited {
      text-decoration: none;
      // color: var(--color-primary);
      // font-size: var(--default-font-size);
   }

   // &:hover {
   //    color: darken(#0487cc, 20%);
   // }
}
