.u-txt-bold {
   font-weight: 700;
}

.u-txt-normal {
   font-weight: normal;
}

.u-txt-align-left {
   text-align: left;
}

.u-txt-align-center {
   text-align: center;
}

.u-txt-uppercase {
   text-transform: uppercase;
}

.u-div-align-left {
   margin-left: auto;
   justify-self: start;
}

.u-div-align-right {
   margin-left: auto;
   justify-self: end;
}

.u-color-white {
   color: var(--color-white);
}

.u-color-primary {
   color: var(--color-primary);
}

.u-color-grey-dark-1 {
   color: var(--color-grey-dark-1);
}

.u-border-color-white {
   border: 1px solid var(--color-white);
}

.u-background-white {
   background-color: var(--color-white);
}

.u-max-content {
   width: max-content;
}
.u-width-60 {
   width: 60%;
}

.u-padding-reset {
   padding: 0;
}

.u-div-center {
   margin: 0 auto;
}

.u-no-hover {
   pointer-events: none;
}

.u-margin-top-big {
   margin-top: 5rem;
}
