.u-bold {
   font-weight: 700;
}

.u-normal {
   font-weight: normal;
}

.u-color-white {
   color: var(--color-white);
}

.u-color-primary {
   color: var(--color-primary);
}

.u-color-grey-dark-1 {
   color: var(--color-color-grey-dark-1);
}

.u-border-color-white {
   border: 1px solid var(--color-white);
}

.u-no-hover {
   pointer-events: none;
}
// .u-no-hover:hover {
//    pointer-events: none;
// }
