// ///////////////////////
// TEXT

.u-txt-bold {
   font-weight: 700;
}

.u-txt-normal {
   font-weight: normal;
}

.u-txt-align-left {
   text-align: left;
}

.u-txt-align-center {
   text-align: center;
   justify-self: center;
}

.u-txt-uppercase {
   text-transform: uppercase;
}
// ///////////////////////
// DIV
.u-div-align-left {
   margin-left: auto;
   justify-self: start;
}

.u-div-align-right {
   margin-left: auto;
   justify-self: end;
}
// ///////////////////////
// COLOR
.u-color-white {
   color: var(--color-white);
}

.u-color-primary {
   color: var(--color-primary);
}

.u-color-grey-dark-1 {
   color: var(--color-grey-dark-1);
}

.u-border-color-white {
   border: 1px solid var(--color-white);
}

.u-background-white {
   background-color: var(--color-white);
}
// ///////////////////////
// FONT
.u-font-open-sans {
   font-family: "Open Sans";
}
.u-font-oregano {
   font-family: "Oregano";
}
// ///////////////////////
// MISC
.u-width-60 {
   width: 60%;
}
.u-padding-reset {
   padding: 0;
}

.u-div-center {
   margin: 0 auto;
}

.u-no-hover {
   pointer-events: none;
}
// ///////////////////////
// MARGIN BOTTOM
.u-mb-small {
   margin-bottom: 1rem;
}
.u-mb-medium {
   margin-bottom: 2rem;
}
.u-mb-big {
   margin-bottom: 3rem;
}
// ///////////////////////
// MARGIN TOP
.u-mt-small {
   margin-top: 1rem;
}
.u-mt-medium {
   margin-top: 2rem;
}
.u-mt-big {
   margin-top: 3rem;
}

// .u-margin-top-big {
//    margin-top: 5rem;
// }

.u-max-content {
   width: max-content;
}

.highlight {
   transition: all 0.2s;
   border-bottom: 2px solid grey;
   position: absolute;
   top: 0;
   background: salmon;
   left: 0;
   z-index: -1;
   border-radius: 20px;
   display: block;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
