// MEDIA QUERY MANAGER

@mixin respond-to($pixels, $max-width: true) {
   // $pixels: #{$pixels / 16} + 0em;

   @if $max-width {
      @media only screen and (max-width: $pixels) {
         @content;
      }
   } @else {
      @media only screen and (min-width: $pixels) {
         @content;
      }
   }
}

@mixin absCenter {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin social-buttons {
   ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      margin-right: 1.5rem;

      .link {
         display: block;
         margin-right: 1rem;
         height: 3rem;
         width: 3rem;
         background-color: var(--color-grey-light-1);
         border-radius: 10rem;
         position: relative;
         color: var(--color-primary);
         transition: all 0.3s;

         &:hover {
            background-color: var(--color-primary);
            color: var(--color-white);
         }
         .icon {
            @include absCenter;
            height: 1.5rem;
            width: 1.5rem;
            fill: currentColor;
         }
      }
   }
}

@mixin menu {
   background-color: white;
   position: sticky;
   top: 0;
   width: var(--site-width);
   display: grid;
   font-size: var(--header-menu-fontsize);
   font-weight: 700;
   background-color: var(--color-white);
   z-index: 1111;

   @include respond-to(700px) {
      --site-width: 100%;
   }

   ul {
      grid-template-columns: repeat(auto-fit, minmax(3rem, max-content));
      justify-content: space-between;
      padding: 1rem 0;

      li:not(:last-child) {
         border-right: 1px solid var(--color-grey-light-1);
         padding: 1.8rem 5rem 1.8rem 0;
      }

      a {
         // background-color: hsla(173, 77%, 77%, 0.2);
         color: var(--color-grey-dark-1);
      }
   }
}
