:root {
   //COLORS
   --color-primary: #a6c550;
   // --color-primary-light: lighten($color-primary, 20%);
   // --color-primary-dark: darken($color-primary, 20%);

   --color-grey-light-1: #f3f3f3;
   --color-grey-light-2: #9f9f9f;

   --color-grey-dark-1: #585858;

   --color-is-invalid-text: #a94442;
   --color-is-invalid-border: #f2dede;

   --color-white: #fff;
   --color-black: #000;

   // SIZES

   --site-width: 120rem;
   --header-height: 16rem;

   --logo-height: 4rem;

   --header-menu-fontsize: 1.4rem;

   --slider-height: 66rem;
   // SIZES - cards
   --card-width: 37rem;
   --card-with-icons-height: 22rem;
   // --card-with-blogpost-height: 40rem;
   --card-with-blogpost-height: 36.5rem;
   --card--for-3col-blog-height: 62rem;

   //BOX SHADOWS
   --shadow-subtle: 0 1rem 2rem rgba(black, 0.1);
   --shadow-blur: 0 0 2rem rgba(black, 0.1);
   // FONT
   --default-font-size: 1.6rem;

   // GRADIENTS
}

$color-primary: #a6c550;
$color-black: #000;

$color-primary-light: lighten($color-primary, 20%);
$color-primary-dark: darken($color-primary, 10%);
