:root {
   //COLORS
   // --color-primary: orange;
   --color-primary: #a6c550;
   // $color-primary: #0487cc;
   --color-primary-light: lighten($color-primary, 20%);
   --color-primary-dark: darken($color-primary, 20%);

   --color-grey-light-1: #f3f3f3;
   --color-grey-light-2: #9f9f9f;

   --color-grey-dark-1: #585858;

   --color-white: #fff;
   --color-black: #000;

   // SIZES

   --site-width: 120rem;
   --header-height: 16.5rem;

   --logo-height: 4rem;

   --header-menu-fontsize: 1.4rem;

   --slider-height: 66rem;

   --card-width: 37rem;
   --card-with-icons-height: 22rem;
   --card-with-blogpost-height: 36.5rem;

   //BOX SHADOWS

   // FONT
   --default-font-size: 1.6rem;

   // GRADIENTS
}
