button {
   // box-sizing: border-box;
   border: 1rem solid transparent;
   background: var(--color-primary);
   color: var(--color-white);
   border-radius: 4rem;
   padding: 1.5rem 3rem;
   overflow: hidden;
   width: 20rem;
   transition: all 0.6s, border 0.2s 0.4s, box-shadow 0.2s 0.5s;
   white-space: nowrap;
   text-indent: 23px;
   font-weight: bold;
   cursor: pointer;

   span {
      display: inline-block;
      transform: translateX(30rem);
      font-weight: normal;
      opacity: 0;
      transition: opacity 0.1s 0.2s, transform 0.2s 0.3s;
   }
   &:hover {
      text-indent: 0;
      background: #55706d;
      color: #ffe8a3;
      width: 25rem;
      border: 1rem solid #8dccc4;
      box-shadow: 3px 3px 2px rgba(black, 0.15);
      span {
         transform: translateX(0);
         opacity: 1;
      }
   }
}
