.button {
   display: flex;
   // box-sizing: border-box;
   // border: 0.5rem solid transparent;
   border: transparent;
   background: var(--color-primary);
   color: var(--color-white);
   border-radius: 4rem;
   padding: 1.3rem 2.5rem;
   width: min-content;
   width: min-content;
   overflow: hidden;
   // width: 20rem;
   white-space: nowrap;
   // text-indent: 23px;
   text-align: center;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.6s, box-shadow 0.2s 0.5s, flex-basis 500ms ease-in-out;
   // flex-basis 0.3s 0.4s;
   margin: 0 1rem;

   &--hollow {
      border: 2px solid white;
      // border: 2px solid var(--color-white);
      background-color: transparent;
   }

   span {
      display: inline-block;
      transform: translateX(30rem);
      font-weight: normal;
      opacity: 0;
      max-width: 100%;
      width: 0;
      transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;
      // , width 0.3s 0.4s;
   }
   &:hover {
      text-indent: 0;
      background: var(--color-white);
      color: var(--color-primary);
      // width: 25rem;
      // width: 100%;
      // border: 0.5rem solid var(--color-grey-light-1);
      box-shadow: 0 0 2rem rgba(black, 0.1);

      &--hollow {
         border: 2px solid white !important;
         // border: 2px solid var(--color-white);
         background: transparent !important;
      }
      span {
         opacity: 1;
         width: 100%;
         transform: translateX(0);
         visibility: initial;
      }
   }
}
