.card {
   display: grid;
   width: var(--card-width);
   background-color: var(--color-white);
   overflow: hidden;
   grid-template-rows: repeat(3, 1fr);
   box-shadow: 0 0 0 rgba(black, 0.1);
   transition: box-shadow 0.5s;
   margin: 0 1.5rem;

   &,
   &__content {
      display: grid;
      grid-template-rows: repeat(auto-fit, repeat(1rem, min-content));
      // &__row {

      // }
   }

   // card modifiers

   &--with-icons {
      height: var(--card-with-icons-height);
      padding: 4rem 6.5rem;
   }

   &--with-blogpost {
      // height: var(--card-with-icons-height);
      // padding: 4rem 6.5rem;
   }

   // ~~~ ~~~

   &__content {
      transition: transform 0.3s ease-in-out, opacity 0.6s;
      // align-items: start;
      .paragraph-title {
         margin-bottom: 0;
      }
   }

   &__img {
      width: 37rem;
      height: 26rem;
   }

   &__icon {
      width: 5rem;
      height: 5rem;
      justify-self: center;
      align-self: start;
      fill: var(--color-primary);
      margin-bottom: 0.5rem;
   }

   &__blogpost-title-date {
      display: flex;
      font-size: 1.4rem;
      font-weight: 700;
   }

   &__icon-post {
      width: 1.8rem;
      height: 1.8rem;
      fill: var(--color-grey-dark-1);
      transition: fill 0.3s;

      &:hover {
         fill: var(--color-primary);
      }
   }

   &__link {
      &,
      &:link,
      &:visited {
         text-decoration: none;
         color: var(--color-grey-dark-1);
         // font-size: 1.4rem;
         transition: color 0.3s;
      }

      &:hover {
         color: var(--color-primary);
      }
   }

   &__date {
      border-left: 1px solid var(--color-grey-light-1);
      // padding-left: 1rem;
      color: var(--color-grey-light-2);
   }

   &__elipsis {
      display: grid;
      // opacity: 1;
      align-self: start;
      justify-self: center;
      font-size: 3rem;
      transition: opacity 0.3s;
      height: min-content;
      color: var(--color-primary);
   }

   &__info {
      opacity: 0;
      transition: all 0.3s;

      .paragraph {
         min-width: 100%;
      }
   }

   &:hover &__content {
      transform: translateY(-1rem);
   }
   &:hover &__elipsis {
      opacity: 0;
   }
   &:hover &__info {
      opacity: 1;
      transform: translatey(-4.5rem);
   }

   &:hover {
      box-shadow: 0 0 1rem rgba(black, 0.1);
   }
}
