.card {
   display: grid;
   width: var(--card-width);
   background-color: var(--color-white);
   overflow: hidden;
   grid-template-rows: repeat(3, 1fr);
   box-shadow: 0 0 0 rgba(black, 0.1);
   transition: box-shadow 0.5s;
   margin: 0 1.5rem;

   &,
   &__content {
      display: grid;
      grid-template-rows: repeat(auto-fit, repeat(1rem, min-content));
   }

   // card modifiers

   &--with-icons {
      height: var(--card-with-icons-height);
      padding: 4rem 6.5rem;
   }

   &--with-blogpost {
      height: var(--card-with-blogpost-height);

      // .button {
      //    margin: 1rem auto;
      // }
      // padding: 4rem 6.5rem;
      // background-color: var(--color-grey-light-1);
   }

   &--with-invisible-bg {
      background-color: transparent;
      height: min-content;
      width: max-content;
      padding: 0 1rem;

      .card__icon {
         fill: var(--color-white);
         height: 6rem;
         width: 6rem;
      }

      .heading-secondary {
         margin-bottom: 0;
      }

      .paragraph-title {
         line-height: 3rem;
         // text-align: center;
         // width: 50%;
      }
   }

   // ~~~ ~~~

   &__content {
      transition: transform 0.3s ease-in-out, opacity 0.6s;
      // align-items: start;
      .paragraph-title {
         margin-bottom: 0;
      }
   }

   &__img {
      width: 37rem;
      height: 26rem;
   }

   &__icon {
      width: 5rem;
      height: 5rem;
      justify-self: center;
      align-self: start;
      fill: var(--color-primary);
      margin-bottom: 0.5rem;
   }

   &__blogpost-title-date {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      font-size: 1.4rem;
      font-weight: 700;
      margin-top: 1.5rem;
      margin-bottom: 0.7rem;
   }

   &__icon-post {
      width: 1.8rem;
      height: 1.8rem;
      fill: var(--color-grey-dark-1);
      transition: fill 0.3s;
      margin-left: 1rem;

      // &:hover {
      //    fill: var(--color-primary);
      // }
   }

   &__link {
      &,
      &:link,
      &:visited {
         display: flex;
         text-decoration: none;
         color: var(--color-grey-dark-1);
         // font-size: 1.4rem;
         transition: color 0.3s;
         // background-color: white;
      }

      &:hover {
         color: var(--color-primary);
      }

      // TODO: animate the icon
      // &:hover + .card__icon-post {
      //    fill: var(--color-primary);
      // }
   }

   &__date {
      border-left: 0.1rem solid var(--color-grey-light-1);
      color: var(--color-grey-light-2);
      width: 100%;
      text-align: center;
   }

   &__elipsis {
      display: grid;
      // opacity: 1;
      align-self: start;
      justify-self: center;
      font-size: 3rem;
      transition: opacity 0.3s;
      height: min-content;
      color: var(--color-primary);
   }

   &__info {
      opacity: 0;
      transition: all 0.3s;

      .paragraph {
         min-width: 100%;
      }
   }

   &:hover &__content {
      transform: translateY(-1rem);
   }
   &:hover &__elipsis {
      opacity: 0;
   }
   &:hover &__info {
      opacity: 1;
      transform: translatey(-4.5rem);
   }

   &:hover {
      box-shadow: 0 0 1rem rgba(black, 0.1);
   }
}
