.form {
   width: 60rem;

   &__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
      margin: 1rem 0;
   }

   &__group {
      position: relative;
      vertical-align: middle;
      display: flex;
      // margin: 1rem 0;
   }

   &__input,
   &__textarea,
   &__select {
      outline: none;
      width: 100%;
      padding: 1.5rem 2rem;
      transition: all 0.3s;
      // display: block;
      border: 0.1rem solid var(--color-grey-light-1);
   }

   &__input {
      font-family: inherit;
      font-size: 1.4rem;
      color: var(--color-grey-dark-1);
   }

   &__textarea {
      font-family: inherit;
   }

   &__select {
      margin-left: 40%;
      font-family: inherit;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
   }

   &__select + label {
      align-self: center;
      position: absolute;
      font-size: var(--font-paragraph-size);
   }

   &__checkbox {
      font-size: var(--font-paragraph-size);
      align-self: center;

      input[type="checkbox"] {
         display: none;
      }

      label {
         cursor: pointer;
         span {
            margin-bottom: -0.3rem;
            margin-right: 0.6rem;
            padding-right: 1rem;
            display: inline-block;
            height: 1.8rem;
            width: 1.8rem;
            // height: var(--font-paragraph-size);
            // width: var(--font-paragraph-size);
            background: var(--color-grey-light-1);
            border-radius: 50%;

            &::before {
               content: "\2714";
               position: absolute;
               line-height: var(--font-paragraph-size);
               width: inherit;
               height: inherit;
               height: var(--font-paragraph-size);
               width: var(--font-paragraph-size);
               border-radius: inherit;
               color: var(--color-primary);
               padding-left: 3px;
               padding-top: 2px;
               background-color: var(--color-grey-light-1);
               opacity: 0;
               transition: all 0.2s;
            }
         }
      }
      input:checked + label span::before {
         opacity: 1;
      }
   }

   &__input:focus,
   &__textarea:focus,
   &__select:focus {
      outline: none;
      border: 0.1rem solid var(--color-primary);
      box-shadow: 0 1rem 2rem rgba(black, 0.1);
   }

   &__input::placeholder,
   &__textarea::placeholder {
      color: var(--color-grey-light-2);
   }

   &__failed {
      border: 0.1rem solid $color-danger;
   }

   &__failed-feedback {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 0.3rem;
      padding-right: 1rem;
      font-size: 1rem;
      color: $color-danger;
   }

   &__alert-success,
   &__alert-failed,
   &__alert-info {
      margin: 3rem 0;
      text-align: center;
      padding: 1.5rem 2rem;
      font-size: 1.6rem;
      // box-shadow: 0 0.5rem 1rem rgba(#000000, 0.1);
   }
   &__alert-success {
      margin: 3rem 0;
      background-color: rgba($color-success, 0.1);
      color: $color-success;
      border: 0.1rem solid rgba($color-success, 0.5);
   }

   &__alert-info {
      margin: 3rem 0;
      background-color: rgba($color-info, 0.1);
      color: $color-info;
      border: 0.1rem solid rgba($color-info, 0.5);
   }
   &__alert-failed {
      background-color: rgba($color-danger, 0.1);
      color: $color-danger;
      border: 0.1rem solid rgba($color-danger, 0.5);
   }

   .button {
      margin-top: 1rem;
      margin-left: auto;
   }
}
