.full-width-section {
   width: 100%;

   // Modifiers of the .full-width-section

   &--grey-light-bg {
      background: var(--color-grey-light-1);
   }

   &--bg-image {
      // height: 56rem;
      background-image: linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
         url(../images/backgrounds/background-15-1920x900.jpg);
      background-blend-mode: multiply;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      .paragraph-title {
         width: 80%;
      }
      .full-width-section__content {
         padding: 9.5rem 0;
      }

      // .link {
      //    color:
      // }
   }

   // Keep it DRY

   &__content,
   &__2col-wrapper,
   &__col-text,
   &__col-img,
   &__row,
   &__wrapper {
      display: grid;
   }

   &__wrapper,
   &__2col-wrapper {
      padding: 9.5rem 0;
   }

   // The wrapper

   &__content {
      width: var(--site-width);
      margin: 0 auto;
      // align-self: center;
      // align-content: center;
      align-items: center;
      justify-self: center;
      // .paragraph-title {
      //    margin-bottom: 0;
      // }
   }

   &__wrapper {
      grid-template-rows: repeat(auto-fit repeat(10rem, 1fr));
      align-content: center;

      &--bg-white {
         width: 60%;
         margin: 0 auto;
         background-color: var(--color-white);
         padding: 5rem 0;
      }

      .heading-tertiary {
         grid-row: 1/2;
         // grid-column: 1/-1;
         width: 60%;
         // margin-bottom: 0;
      }
      .paragraph {
         grid-row: 2/3;
         width: 80%;
      }
   }

   &__2col-wrapper {
      grid-template-columns: repeat(2, 1fr);
   }
   .img-testimonials,
   &__col-text,
   &__col-img,
   &__carousel {
      padding: 0 1.5rem;
   }

   &__col-text {
      padding: 0 6.5rem;
      align-content: flex-start;

      &--welcome {
         grid-column: 1/2;
      }

      .button {
         justify-self: center;
         height: max-content;
      }
   }
   &__col-img {
      img {
         height: 100%;
         object-fit: scale-down;
      }
      &--welcome {
         grid-column: 2/3;
      }
   }

   &__row {
      display: flex;
      justify-content: center;
   }

   .img-testimonials {
      height: 27rem;
   }

   &__contact-details {
      display: flex;
      flex-direction: column;
      // display: grid;
      // grid-template-columns: 100%;
      // grid-template-rows: repeat(3, 1fr);
      width: 32rem;
      // margin-right: 10%;
      .link {
         color: var(--color-primary);
         transition: all 0.2s;

         &:hover {
            color: var(--color-grey-dark-1);
         }
      }
   }

   &__photo-galery {
      margin-left: 10%;
      &--container {
         display: grid;
         grid-gap: 0.3rem;
         grid-template-columns: repeat(3, minmax(1rem, 8.5rem));
         // grid-template-columns: repeat(autofit, minmax(8rem, 1fr));
         .thumbnail {
            width: 8.5rem;
            height: 8.5rem;
            transition: all 0.25s;

            &:hover {
               transform: scale(1.01);
               box-shadow: 0 1rem 2rem rgba(black, 0.2);
               // box-shadow: var(--shadow-subtle);
            }
         }
      }
   }

   &__carousel {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(4, 1fr);
      width: calc(var(--site-width) / 2);
      height: 31rem;
      // background-color: hsla(33, 77%, 55%, 0.3);

      & > :nth-child(n + 2):nth-child(-n + 4),
      & > :nth-child(3) p {
         width: 100%;
         text-align: justify;
      }
      & > :nth-child(1) {
         grid-row: 1/2;
      }
      & > :nth-child(2) {
         grid-row: 2/3;
      }
      .quote {
         grid-row: 3/4;
      }
      & > :nth-child(4) {
         grid-row: 4/5;
      }
      & > :nth-child(4) .occupation {
         display: block;
      }
      // cite{
      //    transition: color .3s;
      // }
      // cite:hover {
      //    color: var(--color-primary)
      // }
   }
}
