.full-width-section {
   width: 100%;
   background-color: hsla(11, 44%, 66%, 0.2);
   &__content {
      display: grid;
      width: var(--site-width);
      height: 55rem;
      margin: 0 auto;
      background-color: hsla(111, 44%, 66%, 0.2);
   }
   &__2cols-wrapper {
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      grid-template-columns: repeat(2, 1fr);
   }

   &__col1 {
      display: grid;
      grid-column: 1/2;
      column-gap: 5rem;
   }
}
