.table {
   border-collapse: collapse;
   box-shadow: var(--shadow-table);

   td,
   th {
      border: 1px solid var(--color-grey-light-2);
      padding: 0.5rem 1rem;
      text-align: left;
   }
}
